node_modules
build
dist
public
.github
jest.config.mjs

packages/*/node_modules
packages/*/build
packages/*/dist
packages/*/public
packages/*/.github
packages/*/jest.config.mjs
packages/*/tsconfig.json
packages/*/tsup.config.ts
packages/*/.next
packages/*/.tsup
packages/*/out