name: Basic checks

on:
  push:
    branches-ignore:
      - renovate/**
      - release-please-**
  pull_request:
    branches-ignore:
      - release-please-**

jobs:
  basic-checks:
    runs-on: ubuntu-latest
    if: github.event_name != 'push' || github.repository == 'DIRACGrid/diracx-web'
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci

      # Build the library: needed to successfully run the following checks
      - name: Build Library
        run: npm run build:diracx-web-components
              
      - name: Check formatting rules
        run: npx prettier . --check
      - name: Check code-quality rules
        run: npm run lint
      - name: Check typescript type validity
        run: npm run ts-lint

      - name: Validate current commit (last commit) with commitlint
        if: github.event_name == 'push'
        run: npx commitlint --last --verbose

      - name: Validate PR commits with commitlint
        if: github.event_name == 'pull_request'
        run: npx commitlint --from ${{ github.event.pull_request.head.sha }}~${{ github.event.pull_request.commits }} --to ${{ github.event.pull_request.head.sha }} --verbose
